<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>NODE Crud App | EDIT</title>
</head>
<body>
    <h1>Crud App | EDIT Data</h1>
    <form action="/edit/<%= Student._id%>" method="POST">
        <input type="text" name="name" placeholder="Enter your name" required>
        <input type="text" name="course" placeholder="Enter your course" required>
        <input type="text" name="group" placeholder="Enter your group" required>
        <input type="text" name="batch" placeholder="Enter your batch" required>
        <input type="submit" value="Send">
    </form>
</body>
</html>